{{define "index"}}
<html>
    <head>
        <title>Buzzer Beater</title>
    </head>
    <body>
        <h1>This is header</h1>
        <div class="search_bar">
            <form action="/events" method="post" name="searchEvent">
                <p><input type="text" name="searchKeyWords" value="" placeholder="Input event key words ">
                <p><input type="submit" name="submit" value="search"></p>
            </form>
        </div>
        <a href="/">Home</a>
        <a href="/login">login</a>
        <div>
            <h2>Start of embeded template:</h2>
            <h2>-------------------------------------</h2>
            {{template "content" .}}
            <h2>-------------------------------------</h2>
            <h2>End of embeded template</h2>
        </div>
        <h1>This is footer</h1>
    </body>
</html>
{{end}}